:host {
    font-family: sans-serif;
    border: 2px solid var(--color-theme, black);
    margin: .5rem;
    padding: 1rem;
    display: block;
    max-width: 80rem;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
 li {
    margin: 0;
    padding: 0.4rem;
    border: 1px solid #ccc;
    cursor: pointer;
    list-style: none;
    background-color: #bdffb4;
  }

  li.translate {
    background-color: antiquewhite;
  }


  li:hover,
  li:active {
    background: var(--color-theme, black);
    color: var(--color-theme-inverse, white);
  } 

